@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/menseal");

/* Presets */
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --ff-ibm-plex: "IBM Plex Mono", monospace;
    --ff-monseal: "Menseal", sans-serif;
    --fst-normal: normal;
    --fst-italic: italic;
    /*
        Color Combo:
        Primary Focus: Use bisque for headings, buttons, or large blocks of color.
        Accent & Contrast: Leverage the blue shades for links, accents, and hover effects.
        Neutral Support: gray for backgrounds, borders, or secondary text.
    */

    /* Primary Color*/
    --clr-bisque-800: #af8148;
    --clr-bisque-600: #caa372;
    --clr-bisque-400: #ffdeb6;
    --clr-bisque-300: #f1dbc0;

    /* Secondary Color */
    --clr-secondary-600: #5271ff;
    --clr-secondary-400: #8da7ff;
    --clr-secondary-300: #ccd8ff;

    /* Neutral Color */
    --clr-neutral-800: #2e2e2e;
    --clr-neutral-600: #6c6c6c;
    --clr-neutral-400: #b8b8b8;
    --clr-neutral-200: #f2f2f2;

    --borderr-200: 10px;
    --borderr-300: 15px;
}
.max-screen-size {
    max-width: 1440px;
    margin: 0 auto;
}
.text-justify {
    text-align: justify;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.bg-black {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: initial;
    transition: all 0.4s;
}
p {
    font-size: clamp(0.85rem, 1vw, 1.05rem);
}
.mh-100vh {
    min-height: 100vh;
}
.a-btn {
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid var(--clr-bisque-300);
    font-size: clamp(0.85rem, 1vw, 1.05rem);
    transition: all 0.4s;

    &.round {
        border-radius: 50%;
        padding: 0;
        width: 40px;
    }
    &.fill {
        background-color: var(--clr-bisque-300);
        &:hover {
            background-color: transparent !important;
        }
    }
    &:hover {
        background-color: var(--clr-bisque-300);
        color: #000 !important;
    }
}
.home-header {
    font-family: var(--ff-monseal);
    font-weight: 900;
    color: var(--clr-bisque-300);
    line-height: 0.75em;

    &.size-sx {
        font-size: clamp(1.8rem, 4vw, 6rem);
    }
    &.size-sm {
        font-size: clamp(2.5rem, 8vw, 8rem);
    }
    &.size-md {
        font-size: clamp(2.8rem, 10vw, 12rem);
    }
}
.portfolio-container {
    margin: 0 auto;
    padding: 0 120px;
    position: relative;
}

.page-content {
    margin-top: 120px;
    margin-bottom: 2em;
}

#app-portfolio {
    font-family: var(--ff-ibm-plex);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Components - Project Listing */
.project-listing {
    :not(.skillsets) {
        color: #fff;
    }

    .skills {
        .skill-item {
            padding: 10px 15px;
            border-radius: 15px;
            background-color: #676767;
        }
    }
    :not(.project-links) span {
        font-size: 0.75rem;
    }
    .project-links {
        a {
            width: 50px;
            height: 50px;
        }
    }
    .a-btn {
        color: #fff;

        &:hover {
            background-color: var(--clr-bisque-300);
            color: #000;
        }
    }
    .a-btn:not(.round) {
        width: 170px;
        overflow: hidden;

        span {
            font-size: 1rem;
            transition: all 0.4s;
        }

        &:hover span {
            transform: translateX(-30px);
        }
    }
    .project-image {
        height: 380px;
        width: 100%;
        border-radius: 15px;
    }
}

.nav-bar {
    li a {
        color: #fff;
    }

    /* nav-bar desktop */
    .navbar-desktop {
        position: fixed;
        top: 0;
        width: 100%;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        padding: 1.5rem 5rem;
        z-index: 999;
        transition: all 0.3s ease;

        &.animate-navbar {
            width: 90%;
            top: 20px;
            border-radius: 15px;
            margin: 0 5% 0 5%;
            padding: 1rem 3rem;
            background-color: rgba(26, 26, 26, 0.615) !important;
        }

        .nav-links {
            li a {
                &:hover {
                    border-bottom: 2px solid var(--clr-bisque-400);
                }
            }
        }

        .active-nav-desktop-link {
            color: var(--clr-bisque-400);
            font-weight: 700;
        }
    }

    /* navbar-mobile */
    .navbar-mobile {
        display: none;
        background-color: #000;
        padding: 0 20px;
        border-radius: 15px;

        a {
            font-size: 0.7rem;
        }
        i {
            color: #fff;
        }

        li {
            padding: 10px 5px;
        }
    }

    .active-nav-mobile-link {
        color: var(--clr-bisque-400);
        font-weight: 700;
    }
}

.nav-top-bar {
    .contra-hire-me-button {
        font-family: var(--ff-ibm-plex);
        font-size: 1.5rem;
        a img {
            width: 170px;
        }
    }
}

/* Home */
.home-hero {
    background: url(../../../public/images/bg-hero-section.jpg) no-repeat;
    background-size: cover;
    /* mix-blend-mode: color-burn; */

    .home-hero-header {
        &.animate {
            animation: fade-bottom-top 2s;
            display: block;
        }
    }

    .home-hero-content {
        margin: 0 auto;
        padding-top: 120px;
        padding-bottom: 250px;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);

        .home-headshot {
            gap: 0 20px;

            p {
                color: var(--clr-bisque-300);
                font-weight: 500;
                font-size: 1.05rem;
                max-width: 400px;
            }
            p:nth-child(2) {
                text-align: right;
            }

            .small-screen-header {
                font-size: 2rem;
                font-weight: 800;
                letter-spacing: -0.05rem;
                line-height: 1;
                background-image: linear-gradient(
                    to right,
                    #fbc787,
                    #f6c8ba,
                    #ffbaa7
                );
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .home-headshot img {
            transform: translateY(-70px);
            max-width: 280px;
            width: 100%;
            border-radius: 15px;
            object-fit: contain;
        }
    }

    .scroll-container {
        overflow-x: hidden;

        .scroll-content {
            width: 200%;
            animation: scroll-left-to-right 10s linear infinite;
        }
    }
}

.intro-text-section {
    p {
        max-width: 650px;
        margin: auto;
    }
}

.home-title-divider {
    transform: translateY(-150px);
    width: 80%;
    background-color: #ffffff;
    padding: 50px 20px;
    border: 1px solid #67676733;

    .column {
        text-align: center;
        width: 50%;
        &:first-child {
            border-right: 1px solid var(--clr-neutral-400);
        }
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            margin: 0 auto 40px;
            background-color: #000;
            i{
                font-size: 1.5rem;
                color: #ffffff;
            }
        }

        p{
            width: 70%;
            margin: 0 auto 10px;
            font-size: 1rem;
        }
        /* .title {
            font-size: clamp(1.25rem, 4vw, 1.4rem);
            font-weight: 700;
            color: var(--clr-neutral-800);
        } */
        .list-title {
            display: flex;
            justify-content: center;
            position: relative;
            max-width: max-content;
            color: var(--clr-secondary-600);

            &::before {
                content: "";
                z-index: -1;
                position: absolute;
                display: flex;
                background-color: var(--clr-bisque-400);
                margin-top: 15px;
                width: 100%;
                height: 10px;
            }
        }
    }
}

.section-header {
    max-width: fit-content;
    text-align: right;
    line-height: 0.8em;

    .sub-title {
        font-size: 0.8rem;
    }
}

.masked-section {
    height: 100vh;
}

.masked-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #000;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
    transition: clip-path 2s ease-out;
}

.masked-section .masked-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    .content .loader-icon {
        animation: pulse 1.5s infinite;
        transition: transform 0.3s ease-in-out;
    }
}

.masked-section.curtain-hide {
    clip-path: inset(0 0 100% 0); /* Hide the section */
}

/* Projects */
.project-navbar .nav-bar .navbar-desktop {
    background-color: #0e1016;
}
.home-projects {
    transform: translateY(-100px);

    .projects-container {
        max-width: 1550px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
        align-items: center;
        justify-items: center;

        .project-item {
            display: block;
            padding: 0.75rem;
            max-width: 420px;
            min-width: 400px;
            height: 280px;
            border-radius: 15px;
            overflow: hidden;
            transition: 0.3s ease-in-out;

            .project-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
                transition: 0.3s ease-in-out;
            }

            .overlay {
                background-color: #0a0c10ee;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                border-radius: 15px;
                z-index: 1;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            &:hover {
                .project-image {
                    transform: scale(1.1);
                }
                & .overlay {
                    opacity: 1;
                    transition: opacity 0.3s ease-in-out;
                }
            }
        }
    }
    .header {
        max-width: 70%;
        display: flex;
        align-items: center;

        .before,
        .after {
            width: 45%;
            height: 2px;
            background-color: var(--clr-bisque-400);
        }
    }
}

.stacks-and-tools{
    .text-container{
        p{
            color: var(--clr-neutral-400);
        }

        .text-tools{
            & div{
                width: 50%;
            }
            p{
                max-width: 400px;
            }
        }
    }

    .terms-container{
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;

        .term-title{
            color: #fff;
            max-width: max-content;
            font-size: clamp(1rem, 3vw, 1.5rem);
            padding-top: 5px;
            padding-bottom: 5px;

            &:nth-child(1) {
                background-color: transparent;
            }
            &:nth-child(2) {
                padding: 5px 10px;
                background-color: var(--clr-bisque-400);
                color: #000;
            }
            &:nth-child(3) {
                background-color: var(--clr-neutral-400);
                padding: 5px 10px;
            }
            &:nth-child(3n + 1) {
                background-color: transparent;
            }
            &:nth-child(3n + 2) {
                padding: 5px 10px;
                background-color: var(--clr-bisque-400);
                color: #000;
            }
            &:nth-child(3n + 3) {
                padding: 5px 10px;
                background-color: var(--clr-neutral-400);

            }
        }
    }
}

.project-page {
    padding-top: 140px;

    .projects-box {
        h1 {
            font-size: clamp(1.8rem, 6vw, 3.5rem);
        }
        .projects-sub-title {
            font-size: clamp(0.8rem, 3vw, 1.5rem);
        }
    }
    .collaborations {
        max-width: 1200px;
        h3 {
            max-width: 650px;
            margin: 0 auto;
        }
        .collab-logo-container {
            img {
                max-width: 250px;
            }
        }
    }
}

/* About Page */
.about-navbar .nav-bar .navbar-desktop {
    background-color: #0e1016;
}
.about-page {
    .about-intro-hero {
        padding: 140px 0;
        background-color: var(--clr-secondary-300);
        .intro-hero-texts {
            p {
                font-size: clamp(1.8rem, 6vw, 3.5rem);
                line-height: 4.5rem;
                max-width: 650px;
                margin: 0 auto !important;
            }
        }
        img {
            width: 100%;
            max-width: 400px;
            object-fit: contain;
        }

        .custom-text-digital {
            background-color: var(--clr-bisque-400);
        }
    }
    .about-me {
        max-width: 350px;
        .info-grid {
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
            gap: 15px;

            .grid-item {
                text-align: center;

                h2 {
                    font-size: 2.2rem;
                }
                span {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

/* Contact Page*/
.contact-navbar .nav-bar .navbar-desktop {
    background-color: #0e1016;
}
.status-toast {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    min-width: 280px;
    transition: all 0.5s ease-in-out;
}
.contact {
    padding-top: 140px;

    .contact-img {
        img {
            width: 100%;
            max-width: 450px;
            object-fit: contain;
            border-radius: var(--borderr-300);
        }
    }
    p {
        max-width: 400px;
    }

    .contact-form {
        max-width: 950px;
        margin: auto;

        .form-input {
            .form-control {
                padding: 15px;
                border-radius: 0;
                border: 1px solid #000;
            }

            span.text-danger {
                font-size: 0.9rem;
            }
        }
        .a-btn {
            font-size: 1.2rem;
        }
    }
}

/* Footer */
.footer {
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-600);
    padding: 40px 5%;

    .scroll-to-top {
        margin-top: -70px;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 50%;
        background: #fff;

        img {
            width: 35px;
            transform: translateY(8px);
            opacity: 0.5;
        }
    }

    .footer-links {
        a {
            /* color: var(--clr-neutral-600); */

            &:hover {
                color: var(--clr-bisque-800);
            }
        }
    }
}

/* Animations */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes fade-bottom-top {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-top-bottom {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left-right {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scroll-left-to-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Media Queries*/
@media (width <= 1100px) {
    .home-projects {
        .projects-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .project-item {
                flex-grow: 1;
                padding: 0.75rem;
                min-width: 250px;
                height: 200px;
            }
        }
    }
}

@media (width <= 768px) {
    .nav-bar {
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
    }

    .home-hero {
        padding-bottom: 0;

        .home-hero-content {
            padding-top: 40px !important;
            padding-bottom: 20px !important;
            min-height: unset;

            .home-headshot {
                img {
                    transform: translateY(0px) !important;
                    margin-bottom: 40px;
                }
                p {
                    max-width: unset !important;
                    font-size: 0.85rem;
                }
            }
        }
    }
    .home-title-divider, .home-projects{
        transform: translateY(0);
    } 

    .home-projects {
        .projects-container {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
    .about-page {
        .about-intro-hero {
            padding-top: 0;
            .intro-hero-texts p {
                line-height: 2rem;
            }
            img {
                height: 300px;
                object-fit: cover;
                object-position: 50% 0%;
            }
        }
    }

    .projects {
        .header {
            max-width: unset;
            justify-content: center;
        }

        .projects-container {
            animation: none;
        }
    }

    .project-listing {
        .project-image {
            height: 350px !important;
            width: 100% !important;
        }
    }

    .project-page {
        padding-top: 30px;
    }
    .contact,
    .about-page {
        padding: 0px;
    }
    .status-toast {
        bottom: 80px;
    }

    .footer {
        padding-bottom: 100px;
    }
}
